<!--
  Generated template for the ApproveQuotes page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Manage Quotes</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-bottom>
    <ion-segment [(ngModel)]="editStatus">
      <ion-segment-button value="submitted">
        Submitted
      </ion-segment-button>
      <ion-segment-button value="reported">
        Reported
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="editStatus">
    <ion-list *ngSwitchCase="'submitted'">
      <div *ngFor="let submittedItem of dataSubmitted">
        <div *ngIf="submittedItem.deleted == false">
          <ion-item-sliding #item>
            <ion-item (click)="openDetails($event, submittedItem, null)" class="less-label-margin">
              <div class="itemLeft">
                <div class="mainDetails">"{{submittedItem.quote}}"</div>
                <div class="secondaryDetails">Autor: {{ submittedItem.author }}</div>
                <div *ngFor="let categoryItem of dataCategory">
                  <div *ngIf="categoryItem.id == submittedItem.category" class="secondaryDetails">Kategorie: {{ categoryItem.name }}</div>
                </div>
                <div *ngFor="let userItem of dataUser">
                  <div *ngIf="userItem.id == submittedItem.user" class="secondaryDetails">Hochgeladen von: {{userItem.username}}</div>
                </div>
              </div>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button (click)="delete(submittedItem)">Löschen</button>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'reported'">
      <div *ngFor="let reportedItem of dataReported">
        <div *ngIf="reportedItem.deleted == false">
          <ion-item-sliding #item>
            <ion-item (click)="openDetails($event, null, reportedItem)" class="less-label-margin">
              <div class="itemLeft">
                <div *ngFor="let quoteItem of dataQuotes">
                  <div *ngIf="quoteItem.id == reportedItem.quote" class="mainDetails">"{{ quoteItem.quote }}"</div>
                </div>
                <div class="secondaryDetails">Begründung: {{ reportedItem.reason }}</div>
                <div *ngFor="let userItem of dataUser">
                  <div *ngIf="userItem.id == reportedItem.user" class="secondaryDetails">Gemeldet von: {{userItem.username}}</div>
                </div>
              </div>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button (click)="delete(reportedItem)">Löschen</button>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </div>
    </ion-list>
  </div>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>



