<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="progressbar-container">
    <progress-bar [progress]="loadProgress"></progress-bar>
  </div>
  <div class="card-container" *ngIf="ready">
    <sc-card padding *ngFor="let attendant of attendants" [orientation]="cardDirection" [tinder-card]="cardOverlay" [callDestroy]="attendant.destroyEvent"
      [callLike]="attendant.likeEvent" (onLike)="onCardInteract($event)">
      <div class="card-content">
        <div class="category-container">Politik</div>
        <div class="quote-container">
          "Deutschland ist böse, sehr böse!"
        </div>
        <div class="author-container">
          - Donald Trump - 
        </div>
      </div>
    </sc-card>
  </div>
  <div class="button-container">
    <ion-fab class="right-container" right bottom>
      <button class="right-button" ion-fab icon-only (click)="like(true)">
      <ion-icon name="checkmark"></ion-icon>
    </button>
    </ion-fab>
    <ion-fab class="wrong-container" left bottom>
      <button class="wrong-button" ion-fab icon-only (click)="like(false)">
      <ion-icon name="close"></ion-icon>
    </button>
    </ion-fab>
  </div>
</ion-content>