<!--
  Generated template for the Highscore page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Highscore</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <div *ngFor="let userItem of dataUser">
      <ion-item *ngIf="userItem.rank == 1" (click)="openDetails($event, gameItem)" class="firstPlace">
        <div class="itemLeft">
          <img src="this.src='assets/icon/favicon.ico'"/>
        </div>
        <div class="itemRight">
          <div class="mainDetails">{{ userItem.rank }}. {{userItem.username}}</div>
          <div class="secondaryDetails">Punktzahl: {{ userItem.score }}</div>
        </div>
        <ion-icon *ngIf="userItem.id == currentUser" name="contact" item-right></ion-icon>
      </ion-item>
      <ion-item *ngIf="userItem.rank == 2" (click)="openDetails($event, gameItem)" class="secondPlace">
        <div class="itemLeft">
          <img src="this.src='assets/icon/favicon.ico'"/>
        </div>
        <div class="itemRight">
          <div class="mainDetails">{{ userItem.rank }}. {{userItem.username}}</div>
          <div class="secondaryDetails">Punktzahl: {{ userItem.score }}</div>
        </div>
        <ion-icon *ngIf="userItem.id == currentUser" name="contact" item-right></ion-icon>
      </ion-item>
      <ion-item *ngIf="userItem.rank == 3" (click)="openDetails($event, gameItem)" class="thirdPlace">
        <div class="itemLeft">
          <img src="this.src='assets/icon/favicon.ico'"/>
        </div>
        <div class="itemRight">
          <div class="mainDetails">{{ userItem.rank }}. {{userItem.username}}</div>
          <div class="secondaryDetails">Punktzahl: {{ userItem.score }}</div>
        </div>
        <ion-icon *ngIf="userItem.id == currentUser" name="contact" item-right></ion-icon>
      </ion-item>
      <ion-item *ngIf="userItem.rank > 4" (click)="openDetails($event, gameItem)">
        <div class="itemLeft">
          <img src="this.src='assets/icon/favicon.ico'"/>
        </div>
        <div class="itemRight">
          <div class="mainDetails">{{ userItem.rank }}. {{userItem.username}}</div>
          <div class="secondaryDetails">Punktzahl: {{ userItem.score }}</div>
        </div>
        <ion-icon *ngIf="userItem.id == currentUser" name="contact" item-right></ion-icon>
      </ion-item>
    </div>
  </ion-list>

  <ion-refresher (ionRefresh)="loadData(true, event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
